/lab1/touchstone
/lab1/httpd
/lab1/broswer
/lab1/stack1
/lab1/stack2
/lab1/test-shell
/lab2/pretest
/lab2/core
/lab2/stack2
/lab2/exec3
/lab2/server/browser
/lab2/server/core
/lab2/server/httpd
/lab2/server/touchstone
/lab2/lab2.pdf